/* 骨架屏 */
.skeletion {
    padding: 0 .32rem;
}

.skeletion-head {
    padding: .4rem 0;
    overflow: hidden;
}

.skeletion-head div {
    display: inline-block;
    background-color: #F5F6FA;
}

.skeletion-head .head_left {
    margin-right: .1rem;
    width: .3rem;
    height: .3rem;
    float: left;
}

.skeletion-head .head_conte {
    width: 3rem;
    height: .3rem;
    float: left;
}

.skeletion-head .head_right {
    width: .3rem;
    height: .3rem;
    float: right;
}

.skeletion-input {
    margin-bottom: .35rem;
    width: 100%;
    height: .7rem;
    background-color: #F5F6FA;
}

.skeletion-swiper {
    margin-bottom: .45rem;
    width: 100%;
    height: 3rem;
    background-color: #F5F6FA;
}

.skeletion-nav {
    margin-bottom: 1rem;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
}

.skeletion-nav li {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
}

.skeletion-nav .nav_img {
    margin-left: .1rem;
    margin-bottom: .2rem;
    width: .76rem;
    height: .76rem;
    background-color: #F5F6FA;
}

.skeletion-nav .nav_text {
    width: 1rem;
    height: .24rem;
    background-color: #F5F6FA;
}

.skeletion-module {
    margin-top: .1rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
}

.skeletion-module .module_block {
    width: 3.35rem;
    height: 1.25rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    background-color: #ebebee;
}

.skeletion-module .module_block .module_img {
    margin-right: .2rem;
    width: .7rem;
    height: .7rem;
    background-color: #F5F6FA;
}

.skeletion-module .text div {
    margin-bottom: .15rem;
    width: 1.5rem;
    height: .24rem;
    background-color: #F5F6FA;
}

.skeletion-module .text div:last-child {
    margin-bottom: 0;
}

.skeletion-broadcast {
    margin-top: .3rem;
    width: 100%;
    height: .88rem;
    background-color: #F5F6FA;
}

.skeletion-filtrate {
    margin-top: .8rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
            align-items: center;
}

.skeletion-filtrate li {
    margin-right: .5rem;
    width: 1rem;
    height: .36rem;
    background-color: #F5F6FA;
}

.skeletion-content {
    padding: .5rem 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
}

.skeletion-content .content_img {
    margin-right: .25rem;
    width: 1.6rem;
    height: 1.2rem;
    background-color: #F5F6FA;
}

.skeletion-content .text {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-flex: 1;
            flex: 1;
}

.skeletion-content .text div {
    margin-bottom: .15rem;
    width: 100%;
    height: .24rem;
    background-color: #F5F6FA;
}

.skeletion-content .text .title {
    height: .28rem;
}
/* 骨架屏 */

.header {
    padding: 0 .32rem;
}

.header .top {
    padding: .4rem 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: justify;
            justify-content: space-between;
}

.header .location {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center;
}

.header .location .icon {
    margin-right: .1rem;
    display: inline-block;
    width: .28rem;
    height: .35rem;
    background-image: url(../images/location.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.header .location .text {
    width: 3.5rem;
    font-size: .32rem;
    font-weight: bold;
    color: #0A0F2D;
}

.header .top .person_center {
    width: .28rem;
    height: .34rem;
    background-image: url(../images/my_center.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.header .bottom {
    position: relative;
    padding-bottom: .35rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
}

.header .bottom .search {
    padding: 0 .1rem;
    width: 100%;
    height: .7rem;
    background-color: #F5F6FA;
    border-radius: .35rem;
}

.header .bottom .placeholder {
    position: absolute;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    font-size: .28rem;
    color: #AFB3C3;
}

.header .bottom .icon {
    display: inline-block;
    margin-right: .1rem;
    width: .28rem;
    height: .28rem;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

section {
    padding: 0 .32rem;
    overflow-x: hidden;
}

.advertising {
    margin-bottom: .45rem;
    font-size: 0;
}

.advertising img {
    width: 100%;
    height: 3rem;
    border-radius: .16rem;
}

.nav {
    overflow: hidden;
}

.nav ul {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    overflow: hidden;
}

.nav li {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    overflow: hidden;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-flex: 1;
            flex: 1;
}

.nav img {
    margin-bottom: .22rem;
    width: .76rem;
    height: .76rem;
    border-radius: .2rem;
}

.nav span {
    font-size: .24rem;
    color: #0A0F2D;
}

.nav .swiper-pagination.nav_pagination {
    margin-top: .45rem;
    bottom: unset;
    font-size: 0;
}

.nav .swiper-pagination.nav_pagination span {
    margin: 0;
    width: .35rem;
    height: .05rem;
    background-color: #E3E4E8;
    border-radius: .03rem;
    opacity: 1;
}

.nav .swiper-pagination.nav_pagination span.swiper-pagination-bullet-active {
    background-color: #0AB681;
}

.advertising .swiper-pagination-bullet-active {
    background-color: #0AB681;
}

.module {
    margin-top: 1rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
}

.module .module_block {
    width: 3.35rem;
    height: 1.25rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    background-color: #F5F6FA;
    border-radius: .16rem;
}

.module .module_block img {
    margin-right: .2rem;
    width: .67rem;
    height: .74rem;
}

.module .module_block .text {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
}

.module .text .title {
    padding-bottom: .1rem;
    font-size: .28rem;
    color: #0A0F2D;
    font-weight: bold;
}

.module .text .txt {
    font-size: .24rem;
    color: #AFB3C3;
}

.broadcast {
    margin-top: .3rem;
    padding: 0 .2rem;
    width: calc(100% - .4rem);
    height: .88rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center;
    box-shadow:0px .1rem .24rem 0px rgba(4,0,0,0.05);
    border-radius: .16rem;
    overflow: hidden;
}

.broadcast ul {
    padding-top: 1rem;
    overflow: hidden;
}

.broadcast ul li {
    margin-top: .2rem;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.broadcast img {
    margin-right: .2rem;
    width: .36rem;
    height: .31rem;
}

.broadcast .title {
    margin-right: .28rem;
    font-size: .3rem;
    color: #0A0F2D;
    font-weight: bold;
    flex-shrink: 0;
}

.broadcast .title span {
    color: #0AB681;
}

.broadcast .text {
    font-size: .28rem;
    color: #0A0F2D;
}

.filtrate_nav {
    margin-top: .8rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
            align-items: flex-end;
}

.filtrate_nav li {
    padding-bottom: .2rem;
    font-size: .28rem;
    color: #AFB3C3;
    cursor: pointer;
}

.filtrate_nav li:nth-child(2) {
    margin: 0 .65rem;
}

.filtrate_nav li.active {
    position: relative;
    font-size: .36rem;
    color: #0A0F2D;
    font-weight: bold;
}

.filtrate_nav li.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -.15rem;
    width: .3rem;
    height: .06rem;
    background-color: #0AB681;
    border-radius: .03rem;
}

.list_content .list_box {
    position: relative;
    padding: .5rem 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center;
}

.list_content .list_box::after {
    content: '';
    position: absolute;
    left: 1.85rem;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(232,232,232,1);
}

.list_content .list_box img {
    margin-right: .25rem;
    width: 1.6rem;
    height: 1.2rem;
    border-radius: .12rem;
}

.list_content .list_box .right {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    overflow: hidden;
}

.list_box .right .title {
    padding-bottom: .2rem;
    font-size: .34rem;
    color: #0A0F2D;
    font-weight: bold;
    line-height: 1;
}

.list_box .right .middle {
    padding-bottom: .15rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center;
    line-height: 1;
}

.list_box .middle .like_icon {
    margin-right: .05rem;
    width: .2rem;
    height: .18rem;
    border-radius: unset;
}

.list_box .middle .like,
.list_box .middle .sale,
.list_box .middle .time {
    margin-right: .15rem;
    font-size: .24rem;
    color: #AFB3C3;
    flex-shrink: 0;
}

.middle .like span,
.middle .sale span,
.middle .time span {
    margin-left: .1rem;
}

.list_box .address{
    font-size: .24rem;
    color: #AFB3C3;
    line-height: 1;
}

.list_content .tips {
    padding: .5rem 0;
    font-size: .24rem;
    color: #AFB3C3;
    text-align: center;
}