header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: .88rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    background-color: #fff;
    z-index: 999;
}

header .back {
    position: absolute;
    left: .32rem;
    top: 50%;
    margin-top: -.15rem;
    display: block;
    width: .32rem;
    height: .3rem;
    background-image: url(../images/image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header .title {
    font-size: .32rem;
    color: #0A0F2D;
    font-weight: bold;
}

.search_box {
    position: fixed;
    top: .88rem;
    left: 0;
    padding: 0 .32rem;
    width: calc(100% - .64rem);
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    background-color: #fff;
    z-index: 999;
}

.search_box .search {
    padding: 0 .1rem;
    width: 100%;
    height: .7rem;
    background-color: #F5F6FA;
    border-radius: .16rem;
}

.search_box .placeholder {
    position: absolute;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    font-size: .28rem;
    color: #AFB3C3;
}

.search_box .placeholder .icon {
    display: inline-block;
    margin-right: .1rem;
    width: .28rem;
    height: .28rem;
    background-image: url(../images/image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

section {
    padding-top: 1.76rem;
}

.list_box {
    padding-top: .2rem;
}

.list_box li {
    position: relative;
    padding: .3rem .32rem;
    font-size: .28rem;
    color: #05081C;
    border-bottom: 1px solid rgba(232,232,232,1);
}

.list_box .title {
    font-size: .3rem;
    color: #0A0F2D;
    font-weight: bold;
}

.list_box .other {
    border-bottom: unset;
}

.list_box .type {
    padding: 0 .32rem;
    height: .6rem;
    line-height: .6rem;
    background-color: #F5F6FA;
    border-bottom: unset;
}

.list_box li span {
    position: absolute;
    right: .32rem;
    font-size: .28rem;
    color: #AFB3C3;
}