body {
    background-color: #00A47C;
}

/* 右边三角形 */
.right_arrow{
    position: relative;
    width: .17rem;
    height: .26rem;
    background-image: url(../images/next.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/* 右边三角形 end */

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 .32rem;
    width: calc(100% - .64rem);
    height: .88rem;
    background-color: #00A47C;
    z-index: 999;
}

header .back {
    position: absolute;
    top: 50%;
    margin-top: -.15rem;
    left: .32rem;
    width: .32rem;
    height: .3rem;
    background-image: url(../images/back_white.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header .title {
    font-size: .34rem;
    color: #fff;
    font-weight: bold;
    line-height: .88rem;
    text-align: center;
}

section {
    padding-top: .88rem;
    padding-bottom: 1rem;
}

.no_address,
.has_address,
.time_box,
.store_box {
    padding: .3rem .32rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
}

.no_address .text {
    font-size: .4rem;
    color: #fff;
    font-weight: bold;
    line-height: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-flex: 1;
            flex: 1;
}

.no_address .text .add {
    margin-right: .15rem;
    width: .36rem;
    height: .36rem;
    background-image: url(../images/image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.has_address .message {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-flex: 1;
            flex: 1;
}

.has_address .message .address {
    margin-bottom: .15rem;
    font-size: .3rem;
    color: #fff;
    font-weight: bold;
    line-height: 1;
}

.has_address .message .bottom {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
            justify-content: flex-start;
}

.has_address .bottom p {
    font-size: .28rem;
    color: #fff;
    line-height: 1;
    opacity: .5;
}

.has_address .bottom .name {
    margin-right: .5rem;
}

.time_box p {
    margin-right: .15rem;
    font-size: .3rem;
    color: #fff;
    font-weight: bold;
    line-height: 1;
}

.time_box .time {
    font-size: .24rem;
}

.time_box .title {
    -webkit-box-flex: 1;
            flex: 1;
}

.store_box .icon {
    margin-right: .12rem;
    width: .24rem;
    height: .24rem;
    background-image: url(../images/store.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.time_box .right {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
            align-items: flex-end;
}

.time_box .right.only .type{
    margin-bottom: 0;
}

.time_box .right .type {
    margin-bottom: .16rem;
}

.store_box .name {
    font-size: .26rem;
    color: #fff;
    line-height: 1;
    -webkit-box-flex: 1;
            flex: 1;
}

.shop_list {
    margin-top: .05rem;
}

.shop_list .shop_box {
    margin-bottom: .45rem;
    padding: 0 .32rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
}

.shop_list .shop_box .left {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
            align-items: center;
}

.shop_list .shop_box img {
    margin-right: .16rem;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: .1rem;
    flex-shrink: 0;
}

.shop_list .shop_box .name {
    width: 2.5rem;
    font-size: .28rem;
    color: #fff;
}

.shop_list .shop_box .num {
    font-size: .3rem;
    color: #fff;
}

.shop_list .shop_box .price {
    font-size: .24rem;
    color: #fff;
    font-weight: 400;
}

.shop_list .price .num {
    font-size: .3rem;
}

.type_box {
    padding: .3rem .32rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
}

.type_box .type {
    font-size: .3rem;
    color: #fff;
    opacity: .5;
}

.type_box .right {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: baseline;
            align-items: baseline;
    color: #fff;
    font-weight: 400;
}

.type_box .right.total {
    -webkit-box-align: center;
            align-items: center;
}

.type_box .right span {
    font-size: .24rem;
}

.type_box .right .num {
    font-size: .3rem;
}

.type_box .right.total .num {
    margin-right: .15rem;
    font-size: .44rem;
}

.type_box .right .cost_price {
    font-size: .24rem;
    color: #fff;
    font-weight: 400;
    text-decoration: line-through;
    opacity: .5;
}

.type_box .total .price {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: baseline;
            align-items: baseline;
}

.type_box .right .choice_btn {
    position: relative;
    width: .76rem;
    height: .4rem;
    background-image: url(../images/switch_order.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.type_box .right .choice_btn.active {
    background-image: url(../images/switch_order_active.png);
}

.submit {
    position: fixed;
    bottom: .16rem;
    left: .32rem;
    width: calc(100% - .64rem);
    height: .88rem;
    line-height: .88rem;
    text-align: center;
    font-size: .32rem;
    color: #00A47C;
    font-weight: bold;
    background-color: #fff;
    border-radius: .44rem;
    z-index: 999;
}

/* 配送方式弹窗 */
.delivery_type_popup .content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 9.18rem;
    background-color: #fff;
    border-radius: .36rem .36rem 0 0;
}

.delivery_type_popup .content .top {
    padding: 0 .32rem;
    height: .99rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(232,232,232,1);
}

.delivery_type_popup .top .title {
    font-size: .28rem;
    color: #05081C;
    font-weight: bold;
}

.delivery_type_popup .top .close {
    width: .4rem;
    height: .4rem;
    background-image: url(../images/close_btn_gray.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.delivery_type_popup .nav {
    padding: .4rem .32rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.delivery_type_popup .nav li {
    position: relative;
    padding-bottom: .18rem;
    margin-right: .4rem;
    font-size: .34rem;
    color: #05081C;
    font-weight: bold;
    line-height: 1;
}

.delivery_type_popup .nav li.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -.15rem;
    width: .3rem;
    height: .06rem;
    background-color: #32B16C;
    border-radius: .03rem;
}

.delivery_type_popup .section {
    height: 7.26rem;
    overflow: hidden;
}

.delivery_type_popup .box {
    padding: 0 .32rem;
    height: 7.26rem;
    overflow: scroll;
}

.delivery_type_popup .box1 li {
    padding: .4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(232,232,232,1);
}

.delivery_type_popup .box1 .time {
    font-size: .34rem;
    color: #05081C;
    font-weight: bold;
}

.delivery_type_popup .box1 .check_btn {
    width: .34rem;
    height: .34rem;
    border-radius: 50%;
    background-image: url(../images/check.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.delivery_type_popup .box1 li.active .check_btn {
    background-image: url(../images/check_active.png);
}

.delivery_type_popup .box .type_title {
    margin-top: .4rem;
    font-size: .28rem;
    color: #AFB3C3;
    line-height: 1;
    font-weight: bold;
}

.delivery_type_popup .box2 .express_type {
    margin-bottom: .2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.delivery_type_popup .express_type li {
    margin-top: .25rem;
    margin-right: .15rem;
    padding: 0 .3rem;
    height: .56rem;
    font-size: .26rem;
    color: #0A0F2D;
    line-height: .56rem;
    border: 1px solid rgba(192,192,192,1);
    border-radius: .28rem;
}

.delivery_type_popup .express_type li.active {
    color: #32B16C;
    border:1px solid rgba(50,177,108,1);
}

.delivery_type_popup .box2 .price {
    margin-top: .25rem;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    color: #FF8F00;
    font-weight: bold;
    font-size: .4rem;
    line-height: 1;
}

.delivery_type_popup .box2 .price span {
    font-size: .24rem;
}

.delivery_type_popup .box .text {
    padding: 0;
    margin-top: .25rem;
    font-size: .3rem;
    color: #05081C;
    font-weight: bold;
    text-align-last: left;
}
/* 配送方式弹窗 end */
