html {
	background-color: #F5F5F5;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 .32rem;
    width: calc(100% - .64rem);
    height: .88rem;
    background-color: #00A47C;
    z-index: 999;
}

header .back {
    position: absolute;
    top: 50%;
    margin-top: -.15rem;
    left: .32rem;
    width: .32rem;
    height: .3rem;
    background-image: url(../images/back_white.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header .back.active {
    background-image: url(../images/back.png);
}

header .title {
    font-size: .34rem;
    color: #0A0F2D;
    font-weight: bold;
    line-height: .88rem;
    text-align: center;
}

section {
    padding: .88rem .32rem .98rem;
    font-size: 0;
}

.state_box {
    height: 3.3rem;
    background-color: #00A47C;
    position: relative;
    text-align: center;
    top: .88rem;
    font-size: 0;
}

.state_box .succeed {
    padding-top: .2rem;
    text-align: center;
    font-size: .44rem;
    color: #fff;
    font-weight: bold;
    line-height: 1;
    margin-bottom: .2rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
}

.state_box .succeed span {
	display: inline-block;
    width: .4rem;
    height: .4rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
    margin-right: .16rem;
}

.state_box .succeed span.wait_pay {
    background-image: url('../images/wait.png');
}

.state_box .succeed span.payed {
    background-image: url('../images/payed.png');
}

.state_box .succeed span.shipped_by {
	background-image: url('../images/shipped_by.png');
}

.state_box .succeed span.canceled {
	background-image: url('../images/canceled.png');
}

.state_box .succeed span.send_by {
	background-image: url('../images/send_by.png');
}

.state_box .succeed span.succeed {
    background-image: url('../images/succeed.png');
    margin: unset;
    padding: 0;
    margin-right: .16rem;
}

.state_box .tips {
	font-size: .24rem;
	color: #fff;
    text-align: center;
    line-height: 1;
    margin-bottom: .5rem;
}

.state_box.payed_box .tips,
.state_box.shipped_by .tips,
.state_box.succeed .tips,
.state_box.send_by .tips {
	opacity: .5;
}

.state_box .tips span {
	font-weight: bold;
	font-size: .28rem;
	margin-right: .3rem;
}

.state_box a {
	font-size: 0;
}

.state_box .btn {
    width: 2.08rem;
    height: .66rem;
    line-height: .66rem;
    text-align: center;
    background-color: #fff;
    border-radius: .33rem;
    font-size: .26rem;
    color: #00A47C;
    font-weight: bold;
    display: inline-block;
}

section {
	margin-bottom: .2rem;
    margin-top: -.8rem;
}

.pick_goods_box {
	margin-top: .2rem;
    height: auto;
    background-color: #fff;
    border-radius: .16rem;
    padding: .32rem 0;
    position: relative;
}

.pick_goods_box .top {
	padding: 0 .32rem;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	        align-items: center;
	border-bottom: 1px solid rgba(232,232,232,.5);
}

.pick_goods_box.state_2 .top,
.pick_goods_box.state_2 .bottom {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-webkit-box-align: start;
	        align-items: flex-start;
}

.pick_goods_box.state_2 .top {
	padding-bottom: .32rem;
}

.pick_goods_box.state_2 .type {
	margin-bottom: .22rem;
	font-size: .24rem;
	color: #AFB3C3;
	line-height: 1;
}

.pick_goods_box.state_2 .text {
	font-size: .3rem;
	color: #0A0F2D;
	font-weight: bold;
}

.pick_goods_box .top .top_left {
	margin-right: .8rem;
	-webkit-box-flex: 1;
	        flex: 1;
	overflow: hidden;
}

.pick_goods_box .name {
	position: relative;
	font-size: .3rem;
	color: #0A0F2D;
	line-height: 1;
	font-weight: bold;
}

.pick_goods_box .top_left .name {
	padding-right: .32rem;
	display: inline-block;
    max-width: 3.7rem;
}

.pick_goods_box .top_left .name::after {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -.1rem;
	right: 0;
	width: .13rem;
	height: .2rem;
	background-image: url(../images/next_person.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.pick_goods_box .top_left .address {
	margin-top: .45rem;
	margin-bottom: .7rem;
	font-size: .34rem;
	color: #0A0F2D;
	font-weight: bold;
}

.pick_goods_box .pick_goods_icon {
	width: 1.28rem;
	height: 1.18rem;
	display: inline-block;
	background-image: url(../images/map_icon.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.pick_goods_box .bottom {
	position: relative;
	margin-top: .32rem;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	        align-items: center;
}

.pick_goods_box .bottom::after {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -.32rem;
	left: 50%;
	margin-left: -.5px;
	width: 1px;
	height: .64rem;
	background-color: rgba(232,232,232,.5);
}

.pick_goods_box .bottom div {
	position: relative;
	padding: 0 .32rem;
	width: 50%;
}

.pick_goods_box.state_2 .bottom div {
	width: calc(100% - .64rem);
}

.pick_goods_box.state_2 .bottom div::after {
	display: none;
}

.pick_goods_box .bottom div::after {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -.1rem;
	right: .32rem;
	width: .13rem;
	height: .2rem;
	background-image: url(../images/next_person.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

section .foot {
    height: .5rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
    background-color: #fff;
    box-shadow: 0 .1rem .24rem 0 rgba(10,15,45,0.05);
    border-radius: .16rem;
}

.foot img {
    margin-right: .16rem;
    width: .5rem;
    height: .5rem;
    border-radius: .16rem;
    flex-shrink: 0;
}

section .foot .text {
    margin-right: .2rem;
	line-height: 1;
    font-size: .28rem;
    color: #0A0F2D;
    font-weight: bold;
    -webkit-box-flex: 1;
            flex: 1;
}

.foot .num {
    font-size: .34rem;
    color: #FF8F00;
    font-weight: bold;
    line-height: 1;
}

.basics_box {
	margin-top: .2rem;
	height: 1.16rem;
	background-color: #fff;
	border-radius: .16rem;
	padding: .32rem;
	position: relative;
}

.basics_box::after {
	content: '';
	position: absolute;
	width: .12rem;
	height: .2rem;
	top: 50%;
	margin-top: -.1rem;
	right: .32rem;
	background-image: url('../images/next_black.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.basics_box::before {
	content: '';
	position: absolute;
	width: calc(100% - .16rem);
	height: .06rem;
	bottom: 0;
	left: .08rem;
	background-image: url('../images/line.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.basics_box .top {
	font-size: 0;
	margin-bottom: .22rem;
}

.basics_box .top span {
	font-size: .32rem;
	color: #0A0F2D;
	font-weight: bold;
	line-height: 1;
}

.basics_box .top .name {
	margin-right: .4rem;
}

.basics_box .address {
	font-size: .24rem;
	color: #AFB3C3;
	font-weight: 500;
	padding-right: .7rem;
}

.basics_box .text {
	font-size: .28rem;
	color: #00A47C;
	padding-right: .7rem;
	line-height: .36rem;
}

.basics_box .time {
	margin-top: .25rem;
	font-size: .24rem;
	color: #AFB3C3;
	line-height: 1;
}

.state_1 .text {
	font-size: .28rem;
	color: #0A0F2D;
}

.state_1 .text .tel {
	color: #00A47C;
}

.basics_box.state:before,
.basics_box.state_1:before,
.basics_box.type_2:before,
.basics_box.foot:before {
	display: none;
}

.basics_box.foot:after,
.basics_box.type_2:after {
	display: none;
}

.shop_box {
	margin-top: .2rem;
	height: auto;
	background-color: #fff;
	padding-top: .45rem;
    border-radius: .16rem;
    box-shadow: 0 .1rem .24rem 0 rgba(4,0,0,0.05);
    position: relative;
}

.shop_box .store_name {
	font-size: .26rem;
	color: #0A0F2D;
	line-height: 1;
	position: relative;
	padding-left: .32rem;
    margin: 0 .32rem;
}

.shop_box .store_name::after {
	content: '';
	position: absolute;
	width: .24rem;
	height: .24rem;
	top: 50%;
	margin-top: -.1rem;
	left: 0;
	background-image: url('../images/store_black.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.shop_box .shop_details {
	font-size: 0;
	padding: .45rem .32rem;
	border-bottom: 1px solid #f5f5f5;
}

.shop_box .shop_details:last-child {
	border-bottom: none;
}

.shop_box .shop_details img {
	width: 1.6rem;
	height: 1.6rem;
	border-radius: .12rem;
	margin-right: .2rem;
	vertical-align: middle;
}

.shop_box .shop_details .details {
	vertical-align: top;
	font-size: 0;
	width: calc(100% - 2rem);
	display: inline-block;
}

.shop_box .details .shop_name {
	font-size: .28rem;
	color: #0A0F2D;
	margin-bottom: .18rem;
}

.shop_box .details .size_box {
	font-size: .24rem;
	color: #AFB3C3;
	font-weight: 500;
}

.shop_box .details .size_box p {
	display: inline-block;
	margin-right: .2rem;
}

.shop_box .details .size_box p:last-child {
	margin-right: 0;
}

.shop_box .details .size_box span {
	margin-left: .15rem;
}

.shop_box .details .price_box {
	font-size: .24rem;
	color: #0A0F2D;
	font-weight: bold;
	padding: 0;
	margin-top: .2rem;
	line-height: 1;
}

.link_box {
	margin-top: -1rem;
	padding-top: 1rem;
	height: 1rem;
	border-radius: 0 0 .16rem .16rem;
	background-color: #fff;
}

.link_box div {
	width: 50%;
	height: 1rem;
	line-height: 1rem;
	display: inline-block;
	text-align: center;
	font-size: .26rem;
	color: #000;
	font-weight: 500;
}

.link_box div span {
	width: .25rem;
	height: .25rem;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: inline-block;
	margin-right: .18rem;
	vertical-align: middle;
}

.link_box .service span {
	background-image: url('../images/service_gray.png');
}

.link_box .tel span {
	background-image: url('../images/tel.png');
}

.price_box {
	padding: .4rem .32rem .3rem;
	margin-top: .2rem;
    background-color: #fff;
    border-radius: .16rem;
    position: relative;
}

.type {
	font-size: .26rem;
	color: #0A0F2D;
	font-weight: 400;
    line-height: 1;
	margin-bottom: .3rem;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
}

.price_box .top {
	font-size: .28rem;
	font-weight: bold;
}

.price_box .type {
    -webkit-box-pack: justify;
            justify-content: space-between;
}

.price_box .top .price {
	color: #000;
}

.price_box .price {
	float: right;
	font-size: .24rem;
	color: #0A0F2D;
	font-weight: bold;
}

.price_box .total {
	text-align: right;
	font-size: .32rem;
	color: #000;
    font-weight: bold;
    line-height: 1;
}

.price_box .total span {
	color: #FF8F00;
}

.other_box {
	padding: .4rem .32rem 0;
	margin-top: .2rem;
    background-color: #fff;
    border-radius: .16rem;
    position: relative;
}

.other_box .txt {
	font-size: .26rem;
	color: #0A0F2D;
	font-weight: bold;
	position: absolute;
	left: 1.8rem;
}

.other_box .d_btn {
	height: .38rem;
	width: .88rem;
	line-height: .4rem;
	text-align: center;
	border-radius: .08rem;
	border: 1px solid #0A0F2D;
	font-size: .24rem;
	color: #0A0F2D;
	font-weight: bold;
	display: inline-block;
	margin-left: .3rem;
}

.other_box .check_btn {
	width: 1.14rem;
}

.other_box .line_box {
	border-top: 1px solid rgba(232,232,232,.5);
	padding-top: .4rem;
}

.other_box .line_box:first-child {
    padding-top: unset;
    border-top: unset;
}

.other_order .type {
	margin-bottom: .4rem;
}

.other_box .pick_shop_code {
	position: absolute;
	width: .35rem;
	height: .35rem;
	background-image: url('../image/pick_shop_code.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	right: 0;
	top: 50%;
	margin-top: -.175rem;
	display: inline-block;
}

footer {
    width: 100%;
    height: .98rem;
    position: fixed;
    left: 0;
    bottom: 0;
	font-size: 0;
	line-height: .98rem;
	text-align: right;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0px -5px 12px 0px rgba(4, 0, 0, 0.03);
}

footer a {
    display: contents;
}

footer .btn {
	vertical-align: middle;
	display: inline-block;
	width: 2.08rem;
	height: .76rem;
	line-height: .76rem;
	border-radius: .38rem;
	background-color: #fff;
	font-size: .26rem;
	color: #00A47C;
	text-align: center;
    margin-right: .2rem;
    font-weight: bold;
    border: 1px solid rgba(0,164,124,1);
}

footer .btn:last-child {
	margin-right: .32rem;
}

footer .btn_g {
	background-color: #fff;
    color: #0A0F2D;
    border: 1px solid rgba(192,192,192,1);
}