header  {
    position: fixed;
    top: 0;
    left: 0;
    padding: .2rem .32rem;
    width: calc(100% - .64rem);
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
    background-color: #fff;
    z-index: 999;
}

header::before {
    content: '';
    position: absolute;
    left: .62rem;
    top: 50%;
    margin-top: -.14rem;
    width: .28rem;
    height: .28rem;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header input {
    padding-left: .7rem;
    width: 5.8rem;
    height: .7rem;
    font-size: .28rem;
    color: #0A0F2D;
    background-color: #F5F6FA;
    border-radius: .35rem;
}

header input::-webkit-input-placeholder {
    font-size: .28rem;
    color: #AFB3C3;
}

header input::-moz-placeholder {
    font-size: .28rem;
    color: #AFB3C3;
}

header input:-ms-input-placeholder {
    font-size: .28rem;
    color: #AFB3C3;
}

header input::-ms-input-placeholder {
    font-size: .28rem;
    color: #AFB3C3;
}

header input::placeholder {
    font-size: .28rem;
    color: #AFB3C3;
}

header .cancle {
    padding-right: .1rem;
    font-size: .3rem;
    color: #0A0F2D;
    -webkit-box-flex: 1;
            flex: 1;
    text-align: right;
    cursor: pointer;
}

section {
    padding: 1.45rem .32rem .32rem;
}

.title_box {
    padding-bottom: .3rem;
    line-height: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
}

.title_box .text {
    font-size: .3rem;
    color: #0A0F2D;
    font-weight: bold;
}

.title_box .detele {
    width: .28rem;
    height: .3rem;
    display: block;
    background-image: url(../images/detele.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.search_history {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: left;
            justify-content: left;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
}

.search_history li {
    margin-right: .2rem;
    margin-bottom: .2rem;
    padding: .18rem .2rem;
    display: inline-block;
    font-size: .24rem;
    color: #05081C;
    line-height: 1;
    background-color: #F5F6FA;
    border-radius: .3rem;
}

/* 导航 */
.nav {
    position: fixed;
    top: 1.1rem;
    left: 0;
    padding: .2rem .32rem .1rem;
    width: calc(100% - .64rem);
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
    background-color: #fff;
    z-index: 999;
}

.nav li {
    position: relative;
    padding-bottom: .16rem;
    font-size: .28rem;
    color: #0A0F2D;
    line-height: 1;
}

.nav li.active {
    color: #00A47C;
    font-weight: bold;
}

.nav li.active::after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -.15rem;
    bottom: 0;
    width: .3rem;
    height: .06rem;
    background-color: #00A47C;
    border-radius: .03rem;
}

.nav li.price {
    padding-right: .18rem;
}

.nav .price.active::after {
    display: none; 
}

.nav .price::before {
    content: '';
    position: absolute;
    top: calc(50% - .08rem);
    margin-top: -.09rem;
    right: 0;
    width: .12rem;
    height: .18rem;
    background-image: url(../images/screen.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nav .price.select::before {
    background-image: url(../images/screen_up.png);
}

.nav .price.select.on::before {
    background-image: url(../images/screen_down.png);
}
/* 导航 end */

/* 搜索结果 */
.search_result {
    padding: 1.84rem .32rem 0;
}

section .content {
    margin-top: .3rem;
    padding: .32rem;
    width: calc(100% - .64rem);
    height: auto;
    background-color: #fff;
    box-shadow: 0 .1rem .24rem 0 rgba(10,15,45,0.05);
    border-radius: .16rem;
}

section .content .top {
    margin-bottom: .32rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
}

.content .top img {
    margin-right: .2rem;
    width: .88rem;
    height: .88rem;
    border-radius: 50%;
    flex-shrink: 0;
}

.content .top .message {
    margin-right: .8rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-flex: 1;
            flex: 1;
}

.content .message .name {
    margin-bottom: .25rem;
    font-size: .28rem;
    color: #0A0F2D;
    font-weight: bold;
    line-height: 1;
}

.content .message .bottom {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
}

.content .message .collection,
.content .message .location {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
            align-items: center;
}

.content .message .collection {
    margin-right: .32rem;
}

.content .collection span {
    margin-right: .08rem;
    width: .2rem;
    height: .17rem;
    background-image: url(../images/collect.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.content .location span {
    margin-right: .08rem;
    width: .2rem;
    height: .17rem;
    background-image: url(../images/range.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.content .collection .num,
.content .location .num {
    font-size: .22rem;
    color: #AFB3C3;
    line-height: 1;
}

.content .top .btn {
    width: 1.1rem;
    height: .52rem;
    line-height: .52rem;
    font-size: .24rem;
    color: #fff;
    text-align: center;
    background-color: #00A47C;
    border-radius: .26rem;
}

.content .shop_list {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
            align-items: flex-start;
}

.content .shop_list .shop {
    margin-right: .08rem;
    width: 2.02rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
}

.shop_list .shop img {
    margin-bottom: .25rem;
    width: 2.02rem;
    height: 2.02rem;
    border-radius: .16rem;
}

.shop_list .shop .price {
    margin-bottom: .12rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: baseline;
            align-items: baseline;
    color: #FF8F00;
    font-weight: bold;
    line-height: 1;
}

.shop_list .price span {
    font-size: .2rem;
}

.shop_list .price .num {
    font-size: .3rem;
}

.shop_list .shop .cost_price {
    font-size: .2rem;
    color: #AFB3C3;
    line-height: 1;
    text-decoration: line-through;
}
/* 搜索结果 end */

/* 搜索空 */
.no_result {
    padding-top: 1.84rem;
    text-align: center;
}

.no_result img {
    margin-top: 1rem;
    width: 3.22rem;
    height: 3.22rem;
}

.no_result .text {
    font-size: .26rem;
    color: #AFB3C3;
    line-height: 1;
}
/* 搜索空end */

.search .store_box {
    top: 1.8rem;
    padding-top: 0;
    padding-bottom: 0;
    width: calc(100% - .64rem);
    height: calc(100% - 3.34rem);
}

.search .search_store {
    top: .88rem;
    height: calc(100% - 2.42rem);
}

.search .store_box.index_search {
    height: calc(100% - 1.82rem);
}

.store_box .shop_list {
    padding-top: .4rem;
    overflow: scroll;
}

.search .store_box .shop_list ul:first-child {
    padding-top: 0;
}

.store_box .list_box .shop_right {
    -webkit-box-flex: 1;
            flex: 1;
}

.search .store_box .list_box .shop_img {
    width: 2rem;
    height: 2rem;
}

.search .store_box .shop_right .shop_name {
    padding-left: unset;
    line-height: 1.3;
}

.search .store_box .shop_right .shop_name span {
    top: .01rem;
    margin-top: 0;
}

.search .store_box .shop_right .shop_name p {
    text-indent: .55rem;
    font-size: .28rem;
    color: #0A0F2D;
}

.search .store_box .shop_right .shop_info {
    font-size: .22rem;
}

.store_box .list_box .shop_right {
    position: relative;
}

.store_box .shop_right .price_box {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.search .store_box .price_box .price {
    font-size: .4rem;
}

/* 联想框 */
.association_popup {
    position: fixed;
    top: 1.1rem;
    left: 0;
    width: 100%;
    height: calc(100% - 1.1rem);
    background-color: #fff;
}

.association_popup .content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
}

.association_popup ul {
    -webkit-box-flex: 1;
            flex: 1;
    overflow-y: scroll;
}

.association_popup ul li {
    padding: .32rem;
    font-size: .28rem;
    color: #0A0F2D;
    border-bottom: 1px dashed rgba(232,232,232,1);
}
/* 联想框 end */