header  {
    position: relative;
    padding: .2rem .32rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
}

header::before {
    content: '';
    position: absolute;
    left: .62rem;
    top: 50%;
    margin-top: -.14rem;
    width: .28rem;
    height: .28rem;
    background-image: url(../images/image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header input {
    padding-left: .7rem;
    width: 5.8rem;
    height: .7rem;
    font-size: .28rem;
    color: #0A0F2D;
    background-color: #F5F6FA;
    border-radius: .16rem;
}

header input::-webkit-input-placeholder {
    font-size: .28rem;
    color: #AFB3C3;
}

header input::-moz-placeholder {
    font-size: .28rem;
    color: #AFB3C3;
}

header input:-ms-input-placeholder {
    font-size: .28rem;
    color: #AFB3C3;
}

header input::-ms-input-placeholder {
    font-size: .28rem;
    color: #AFB3C3;
}

header input::placeholder {
    font-size: .28rem;
    color: #AFB3C3;
}

header .cancle {
    padding-right: .1rem;
    font-size: .3rem;
    color: #0A0F2D;
    -webkit-box-flex: 1;
            flex: 1;
    text-align: right;
    cursor: pointer;
}

section {
    padding: .32rem;
}

.title_box {
    padding-bottom: .3rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
}

.title_box .text {
    font-size: .3rem;
    color: #0A0F2D;
    font-weight: bold;
}

.title_box .detele {
    width: .28rem;
    height: .3rem;
    display: block;
    background-image: url(../images/image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.search_history {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: left;
            justify-content: left;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
}

.search_history li {
    margin-right: .2rem;
    margin-bottom: .2rem;
    padding: .18rem .2rem;
    display: inline-block;
    font-size: .24rem;
    color: #05081C;
    line-height: 1;
    background-color: #F5F6FA;
    border-radius: .3rem;
}