html,body {
    height: 100%;
}

.content {
    position: relative;
    height: 100%;
}

.store_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 1.54rem);
    background-color: #fff;
    border-radius: 0 0 .36rem .36rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    overflow: hidden;
    z-index: 1;
}

.store_box .top {
    padding: .3rem .32rem .2rem;
    height: 1.1rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid rgba(232,232,232,1);
    overflow: hidden;
}

.store_box .top .store_head_img {
    margin-right: .16rem;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    flex-shrink: 0;
}

.store_box .middle_box {
    margin-right: .45rem;
    overflow: hidden;
}

.store_box .middle_box .store_name {
    position: relative;
    margin-bottom: .1rem;
    padding-right: .45rem;
    font-size: .34rem;
    color: #0A0F2D;
    font-weight: bold;
    line-height: 1;
}

.store_box .middle_box .store_name::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -.15rem;
    right: 0;
    width: .3rem;
    height: .3rem;
    background-image: url(../images/image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.store_box .middle_box .store_info {
    margin-bottom: .15rem;
    line-height: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
}

.store_box .store_info li {
    font-size: .22rem;
    color: #AFB3C3;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    flex-shrink: 0;
}

.store_box .store_info span {
    margin-right: .08rem;
    width: .15rem;
    height: .2rem;
    display: block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.store_box .store_info .icon_1 {
    width: .15rem;
    height: .2rem;
    background-image: url(../images/image.jpg);
}

.store_box .store_info .icon_2 {
    background-image: url(../images/image.jpg);
}

.store_box .store_info .icon_3 {
    width: .2rem;
    height: .17rem;
    background-image: url(../images/image.jpg);
}

.store_box .middle_box .business_hours {
    font-size: .22rem;
    color: #AFB3C3;
    line-height: 1;
}

.store_box .top .btn {
    width: .64rem;
    height: .64rem;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    flex-shrink: 0;
}

.store_box .top .link_btn {
    margin-right: .3rem;
    background-image: url(../images/image.jpg);
}

.store_box .top .link_btn.active {
    background-image: url(../images/image.jpg);
}

.store_box .top .close_btn {
    background-image: url(../images/image.jpg);
}

.store_box .main {
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
            flex: 1;
    flex-shrink: 0;
    overflow: hidden;
}

.store_box .main .left_nav {
    width: 1.8rem;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background-color: #F5F6FA;
    overflow-y: scroll;
}

.store_box .main .left_nav li {
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: .28rem;
    color: #0A0F2D;
    background-color: #F5F6FA;
    flex-shrink: 0;
    cursor: pointer;
}

.store_box .main .left_nav a.active li {
    font-size: .34rem;
    color: #0A0F2D;
    font-weight: bold;
    background-color: #fff;
}

.store_box .main .right_box {
    position: relative;
    padding: 0 .32rem;
    width: calc(100% - 1.8rem);
    height: 100%;
    overflow-y: scroll;
}

.store_box .right_box .input_box {
    position: fixed;
    padding: .2rem .32rem;
    padding-left: 0;
    width: calc(100% - 2.44rem);
    height: .6rem;
    background-color: #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    z-index: 2;
}

.store_box .input_box input {
    position: absolute;
    top: .2rem;
    left: 0;
    width: calc(100% - .32rem);
    height: .6rem;
    background-color: #F5F6FA;
    border-radius: .16rem;
}

.store_box .input_box .placeholder {
    position: relative;
    padding-left: .48rem;
    font-size: .28rem;
    color: #AFB3C3;
}

.store_box .input_box .placeholder::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -.14rem;
    left: 0;
    width: .28rem;
    height: .28rem;
    background-image: url(../images/image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.store_box .shop_list ul:first-child {
    padding-top: .68rem;
}

.store_box .list_box .title {
    padding: .6rem 0;
    font-size: 0;
    text-align: center;
    line-height: 1;
}

.store_box .list_box .title span {
    position: relative;
    font-size: .3rem;
    color: #0A0F2D;
    font-weight: bold;
}

.store_box .list_box .title span::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -.1rem;
    left: -.45rem;
    width: .2rem;
    height: .2rem;
    background-image: url(../images/image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.store_box .list_box .title span::before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -.1rem;
    right: -.45rem;
    width: .2rem;
    height: .2rem;
    background-image: url(../images/image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.store_box .list_box li {
    margin-bottom: .45rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
}

.store_box .list_box li:last-child {
    margin-bottom: 0;
}

.store_box .list_box .shop_img {
    margin-right: .2rem;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: .16rem;
    flex-shrink: 0;
}

.store_box .list_box .shop_right {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    overflow: hidden;
}

.store_box .shop_right .shop_name {
    position: relative;
    margin: .15rem 0;
    padding-left: .55rem;
    font-size: .28rem;
    color: #0A0F2D;
    line-height: 1;
}

.store_box .shop_right .shop_name span {
    position: absolute;
    top: 50%;
    margin-top: -.13rem;
    left: 0;
    width: .48rem;
    height: .26rem;
    line-height: .26rem;
    text-align: center;
    font-size: .2rem;
    color: #fff;
    background-color: #FF8F00;
    border-radius: .04rem;
}

.store_box .shop_right .shop_info {
    margin-bottom: .15rem;
    font-size: .2rem;
    color: #AFB3C3;
    line-height: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
}

.store_box .shop_right .shop_info p {
    margin-right: .3rem;
}

.store_box .shop_right .shop_info span {
    margin-right: .1rem;
}

.store_box .shop_right .price_box {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
}

.store_box .price_box .left {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center;
    line-height: 1;
}

.store_box .price_box .price {
    margin-right: .1rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: baseline;
            align-items: baseline;
    font-size: .3rem;
    color: #FF8F00;
    font-weight: bold;
}

.store_box .price_box .price span {
    font-size: .2rem;
}

.store_box .price_box .price_original {
    font-size: .2rem;
    color: #AFB3C3;
    text-decoration: line-through;
}

.store_box .price_box .right {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
}

.store_box .price_box .right .btn {
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.store_box .price_box .right .minus {
    background-image: url(../images/image.jpg);
}

.store_box .price_box .right .add {
    background-image: url(../images/image.jpg);
}

.store_box .price_box .right .num {
    width: .6rem;
    font-size: .3rem;
    color: #0A0F2D;
    text-align: center;
}

.store_box .price_box .right .choice_btn {
    width: .9rem;
    height: .4rem;
    line-height: .4rem;
    text-align: center;
    font-size: .2rem;
    color: #fff;
    border-radius: .2rem;
    background-color: #00A47C;
}

.store_box .shop_right .label_box {
    margin-top: .05rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
}

.store_box .shop_right .label_box .label {
    padding: .03rem .05rem;
    font-size: .2rem;
    color: #FF8F00;
    line-height: 1;
    border: 1px solid #FF8F00;
    border-radius: .04rem;
}

.store_footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .36rem .32rem 0;
    width: calc(100% - .64rem);
    height: 1.54rem;
    background-color: #00A47C;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
}

.store_footer.no_business {
    background:rgba(0,164,124,.55);
}

.store_footer .cart {
    margin-right: .3rem;
    width: .9rem;
    height: .9rem;
    background-image: url(../images/image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
    flex-shrink: 0;
}

.store_footer .cart .shop_num {
    display: none;
}

.store_footer .cart.active {
    position: relative;
    background-image: url(../images/image.jpg);
}

.store_footer .cart.active .shop_num {
    position: absolute;
    top: -.15rem;
    right: -.1rem;
    padding: 0 .05rem;
    min-width: .22rem;
    height: .32rem;
    line-height: .3rem;
    font-size: .24rem;
    text-align: center;
    color: #fff;
    font-weight: bold;
    background-color: #FF8F00;
    border-radius: 50%;
    display: block;
}

.store_footer .total_price_box {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: left;
            justify-content: left;
    -webkit-box-align: start;
            align-items: flex-start;
    -webkit-box-flex: 1;
            flex: 1;
}

.store_footer .total_price_box .total_price {
    margin-bottom: .15rem;
    line-height: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: left;
            justify-content: left;
    -webkit-box-align: baseline;
            align-items: baseline;
}

.store_footer .total_price span {
    font-size: .24rem;
    color: #fff;
    font-weight: bold;
}

.store_footer .total_price .price {
    font-size: .4rem;
}

.store_footer .total_price_box .carriage {
    font-size: .24rem;
    color: #fff;
    line-height: 1;
    opacity: .5;
}

.store_footer .submit_btn {
    position: relative;
    padding-right: .45rem;
    font-size: .36rem;
    color: #fff;
    font-weight: bold;
    line-height: 1;
}

.store_footer.no_business .submit_btn {
    padding-right: 0;
}

.store_footer .submit_btn span {
    position: absolute;
    top: 50%;
    margin-top: -.15rem;
    right: 0;
    width: .33rem;
    height: .3rem;
    background-image: url(../images/image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* 选规格弹窗 */
.choice_popup .choice_box {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .32rem;
    width: calc(100% - .64rem);
    height: 9.24rem;
    background-color: #fff;
    border-radius: .36rem .36rem 0 0;
}

.choice_popup .choice_box .close {
    position: absolute;
    top: .32rem;
    right: .32rem;
    width: .4rem;
    height: .4rem;
    background-image: url(../images/image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.choice_popup .choice_box .head {
    margin-bottom: .6rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
            align-items: flex-end;
}

.choice_box .head img {
    margin-right: .15rem;
    width: 2rem;
    height: 2rem;
    border-radius: .16rem;
}

.choice_box .head_right .price {
    margin-bottom: .25rem;
    font-size: .4rem;
    color: #FF8F00;
    font-weight: bold;
}

.head_right .price span {
    font-size: .24rem;
    font-weight: 500;
}

.choice_box .head_right .num {
    font-size: .24rem;
    color: #AFB3C3;
}

.choice_box .specifications .title {
    margin-bottom: .3rem;
    font-size: .28rem;
    color: #0A0F2D;
    font-weight: bold;
}

.choice_box .specifications .lable_box {
    font-size: 0;
    max-height: 4rem;
    overflow: auto;
}

.choice_box .specifications ul {
    overflow: scroll;
}

.choice_box .specifications li {
    margin-right: .25rem;
    margin-bottom: .25rem;
    padding: 0 .2rem;
    height: .6rem;
    font-size: .24rem;
    color: #05081C;
    text-align: center;
    line-height: .6rem;
    display: inline-block;
    background-color: #F5F6FA;
    border:none;
    border-radius: .3rem;
}

.choice_box .specifications li.active {
    color: #00A47C;
    background:rgba(0,151,107,.1);
    border:1px solid rgba(0,151,107,1);
}

.choice_box .bottom_box {
    margin-top: .3rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
}

.choice_box .bottom_box .type {
    font-size: .28rem;
    color: #0A0F2D;
    font-weight: bold;
}

.choice_box .bottom_box .num_box {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
}

.choice_box .num_box .btn {
    width: .25rem;
    height: .25rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.choice_box .num_box .minus {
    background-image: url(../images/image.jpg);
}

.choice_box .num_box .add {
    background-image: url(../images/image.jpg);
}

.choice_box .num_box .num {
    margin: 0 .25rem;
    width: .9rem;
    height: .5rem;
    font-size: .26rem;
    color: #000;
    font-weight: bold;
    line-height: .5rem;
    text-align: center;
    background-color: #F5F6FA;
}

.choice_box .submit {
    position: absolute;
    bottom: .15rem;
    left: .32rem;
    width: calc(100% - .64rem);
    height: .88rem;
    line-height: .88rem;
    text-align: center;
    color: #fff;
    font-size: .32rem;
    font-weight: bold;
    background-color: #00A47C;
    border-radius: .44rem;
}

.choice_box .submit.no_shop {
    color: #FF8E07;
    background:rgba(255,142,7,.2);
}

/* 选规格弹窗 end */

/* 缺货提醒弹窗 */
.no_shop_popup {
    z-index: 99999;
}

.no_shop_popup .content {
    padding-bottom: .5rem;
    height: auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
}

.no_shop_popup .content img {
    margin-bottom: .5rem;
    width: 3rem;
    height: 2.5rem;
}

.no_shop_popup .content .title {
    font-size: .32rem;
    color: #0A0F2D;
    font-weight: bold;
    line-height: 1;
}

.no_shop_popup .content .text {
    margin-top: .1rem;
    margin-bottom: .7rem;
    font-size: .24rem;
    color: #AFB3C3;
}

.no_shop_popup .content .submit {
    width: 4.06rem;
    height: .8rem;
    line-height: .8rem;
    font-size: .3rem;
    color: #fff;
    text-align: center;
    background-color: #00976B;
    border-radius: .4rem;
}
/* 缺货提醒弹窗 end */

/* 店铺信息弹窗 */
.store_message_popup .content {
    margin: 0 auto;
    padding: .32rem;
    width: 5.16rem;
    height: auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
}

.store_message_popup .content .close {
    position: absolute;
    top: .32rem;
    right: .32rem;
    width: .4rem;
    height: .4rem;
    background-image: url(../images/image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.store_message_popup .content .store_head {
    margin: 0 auto;
    margin-top: .48rem;
    margin-bottom: .65rem;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 100%;
}

.store_message_popup .content .title {
    margin-bottom: .22rem;
    font-size: .32rem;
    color: #0A0F2D;
    font-weight: bold;
    text-align: center;
    line-height: 1;
}

.store_message_popup .content .text {
    margin-bottom: .6rem;
    padding: 0 .18rem;
    font-size: .26rem;
    color: #AFB3C3;
}

.store_message_popup .content .store_info {
    margin-bottom: .6rem;
    line-height: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.store_message_popup .store_info li {
    margin-right: .25rem;
    font-size: .22rem;
    color: #AFB3C3;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-shrink: 0;
}

.store_message_popup .store_info li:last-child {
    margin-right: 0;
}

.store_message_popup .store_info span {
    margin-right: .08rem;
    width: .15rem;
    height: .2rem;
    display: block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.store_message_popup .store_info .icon_1 {
    width: .15rem;
    height: .2rem;
    background-image: url(../images/image.jpg);
}

.store_message_popup .store_info .icon_2 {
    background-image: url(../images/image.jpg);
}

.store_message_popup .store_info .icon_3 {
    width: .2rem;
    height: .17rem;
    background-image: url(../images/image.jpg);
}
/* 店铺信息弹窗 end */

/* 购物车弹窗 */
.cart_popup {
    height: calc(100% - 1.54rem);
    border-radius: .36rem;
}

.cart_popup .masked {
    border-radius: 0 0 .36rem .36rem;
}

.cart_popup .content {
    position: absolute;
    padding: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7.8rem;
    border-radius: .36rem;
    overflow: hidden;
}

.cart_popup .content .top {
    padding: 0 .32rem;
    height: 1rem;
    line-height: 1rem;
    font-size: .28rem;
    color: #0A0F2D;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid rgba(232,232,232,1);
}

.cart_popup .content .delete {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cart_popup .top span {
    margin-right: .1rem;
    width: .28rem;
    height: .3rem;
    background-image: url(../images/image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cart_popup .content .cart_list {
    padding: 0 .32rem;
    height: 6.8rem;
    overflow-y: scroll;
}

.cart_popup .cart_list .shop {
    margin-top: .4rem;
    height: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart_popup .cart_list .shop:last-child {
    margin-bottom: .2rem;
}

.cart_popup .shop img {
    margin-right: .16rem;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: .1rem;
    flex-shrink: 0;
}

.cart_popup .shop .message {
    margin-right: .15rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    flex: 1;
}

.cart_popup .message .name {
    margin-top: .14rem;
    font-size: .28rem;
    color: #0A0F2D;
    line-height: 1;
}

.cart_popup .message .price {
    font-weight: 400;
    color: #FF8F00;
    line-height: 1;
    display: flex;
    align-items: baseline;
}

.cart_popup .price span {
    font-size: .24rem;
}

.cart_popup .price .num {
    font-size: .3rem;
}

.cart_popup .shop .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart_popup .right .btn {
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cart_popup .right .minus {
    background-image: url(../images/image.jpg);
}

.cart_popup .right .add {
    background-image: url(../images/image.jpg);
}

.cart_popup .right .num {
    width: .6rem;
    font-size: .3rem;
    color: #0A0F2D;
    text-align: center;
}
/* 购物车弹窗 end */
